{
  "FITBIT_ACCESS_TOKEN": "DUMMY_VALUE", 
  "FITBIT_CLIENT_ID": "DUMMY_VALUE", 
  "FITBIT_CLIENT_SECRET": "DUMMY_VALUE", 
  "FITBIT_REFRESH_TOKEN": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_AUTH_FILEPATH": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_ID": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_SECRET": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_SECRET_FILEPATH": "DUMMY_VALUE", 
  "PLAID_CLIENT_ID": "DUMMY_VALUE", 
  "PLAID_PUBLIC_KEY": "DUMMY_VALUE", 
  "PLAID_SECRET_KEY": "DUMMY_VALUE", 
  "RESCUETIME_API_KEY": "DUMMY_VALUE"
}