{
  "FITBIT_ACCESS_TOKEN": "DUMMY_VALUE", 
  "FITBIT_CLIENT_ID": "DUMMY_VALUE", 
  "FITBIT_CLIENT_SECRET": "DUMMY_VALUE", 
  "FITBIT_REFRESH_TOKEN": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_AUTH_FILEPATH": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_ID": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_SECRET": "DUMMY_VALUE", 
  "GOOGLE_API_CLIENT_SECRET_FILEPATH": "DUMMY_VALUE"
}